# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

ALLOWED_ORIGINS="<allowed-origins-url>"

# Secret Manager
DATABASE_URL="mysql://<user>:<password>@<private-ip>:3306/todo_app"


# Deploy container image to Cloud Run
- name: 'gcr.io/google.com/cloudsdktool/cloud-sdk'
  entrypoint: gcloud
  args:
    - 'run'
    - 'deploy'
    - '${_SERVICE_NAME}'
    - '--image'
    - '$_AR_HOSTNAME/$_AR_PROJECT_ID/$_AR_REPOSITORY/$REPO_NAME/$_SERVICE_NAME:$COMMIT_SHA'
    - '--region'
    - '${_DEPLOY_REGION}'
    - '--platform'
    - 'managed'
    - '--set-secrets'
    - 'DATABASE_URL=DATABASE_URL:latest'
    - '--set-env-vars'
    - 'ALLOWED_ORIGINS=${_ALLOWED_ORIGINS}'
    - '--vpc-connector'
    - 'cloud-run-vpc-connector'
    - '--add-cloudsql-instances'
    - '${_CLOUDSQL_INSTANCE}'
    - '--allow-unauthenticated'

# Deploy cloud function
- name: 'gcr.io/google.com/cloudsdktool/cloud-sdk'
  entrypoint: gcloud
  args:
    - functions
    - deploy
    - todos-importer
    - --source=.
    - --gen2
    - --runtime=nodejs22
    - --region=asia-southeast1
    - --entry-point=todosImporter
    - --trigger-bucket=${_BUCKET_NAME}
    - --trigger-location=asia-southeast1
  dir: 'cloud-functions/todos-importer'